@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background-image: url(../images/background-paper.jpg);
}


header {
    background-image: url(../images/chef-pot-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.headertitle {

    padding: 10%;
    text-align: center;
}