@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


body {
    
    background-image: url(../images/dark-wallpaper.jpg.png);
    background-repeat: no-repeat;
    background-color: rgb(29, 24, 24);
}


header {
    
    background-repeat: no-repeat;
    background-position: center;

}

h1 {
  color: aquamarine;
} 



.headertitle {
    
    background-image: url(../images/chef-pot-image.jpg), url(../images/Kahani.jpg), url(../images/octopus.jfif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 10%;
    text-align: center;
    
}

.servicesanchor {
    text-align: center;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*-------------------- nav bar ---------------------*/
body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/dark-wallpaper.jpg.png);
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f5ee;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #f8f7f3;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #f5f4f2;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
/*-----nav bar------*/

.headertitle {
    font: 36px "Montserrat", sans-serif; 
    color: #f5f4f2;
}

.subheadingindex {
    font: 40px "Montserrat", sans-serif;
    text-align: center;
    color: azure;
    padding-top: 5%;
    text-size-adjust: 0.58;
}

.subheadingindex2 {
    text-align: center;
    color: azure;
    padding-top: 5%;
    font: 16px "Montserrat", sans-serif; 
}

/* three images sidebar */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navcontact {
    padding-left: 2%;
  }

  /* three images sidebar */ 

  